[submodule "code/mnemosyne-meetings"]
	path = code/mnemosyne-meetings
	url = https://gitlab.inria.fr/ntrouvai/mnemosyne-meetings.git
[submodule "docs_thesis"]
	path = docs_thesis
	url = git@github.com:Naowak/docs_thesis.git
[submodule "code/embeddings-radar-chart"]
	path = code/embeddings-radar-chart
	url = git@github.com:Naowak/embeddings-radar-chart.git
[submodule "code/HackATech-Tchatche"]
	path = code/HackATech-Tchatche
	url = git@github.com:Naowak/HackATech-Tchatche.git
[submodule "code/Local-LLMs"]
	path = code/Local-LLMs
	url = git@github.com:Naowak/Local-LLMs.git
[submodule "code/reservoirpy"]
	path = code/reservoirpy
	url = git@github.com:reservoirpy/reservoirpy.git
[submodule "code/ReservoirBERT"]
	path = code/ReservoirBERT
	url = git@github.com:Naowak/ReservoirBERT.git
[submodule "code/Llamui"]
	path = code/Llamui
	url = git@github.com:Naowak/Llamui.git
[submodule "code/Ai4Industry/UseCaseBdx"]
	path = code/Ai4Industry/UseCaseBdx
	url = git@github.com:Noctibus/UseCaseBdx.git
[submodule "code/ReservoirGPT"]
	path = code/ReservoirGPT
	url = git@github.com:Naowak/ReservoirGPT.git
[submodule "code/SummaTalk"]
	path = code/SummaTalk
	url = https://github.com/Naowak/SummaTalk
